.container {
    background-color: gray

}
h4 {
    text-align: center;
    background-color: palevioletred
    font-
    
}
.output{
    border: solid 2px black;
    height: 50%;
    width:95%;
    border-radius: 4px;
}
.card-footer {
    color: rgb(4, 8, 59);
    background-color: green
    text-align: center;
    float: left;
    
}
.card-body {
    background-color: green;
    text-align: right;
    font-style: italic;
    background-image: ;
    
}